# Servidor & Autenticação
PORT=3000
JWT_SECRET=sua_chave_secreta_jwt_aqui

# URL da Aplicação
APP_URL=http://localhost:3000

# Conexão MongoDB Atlas
MONGO_URI=mongodb+srv://usuario:senha@cluster.mongodb.net/?appName=SeuApp
MONGO_DB_NAME=visioindoor